body {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    color: black;
}

#header {
    height: 100px;
    width: 100%;
    background-color: #6720B0;
    margin: 0;
    color: white;
}

#header a {
    color: white;
    text-decoration: none;
}

#header > #name {
    display: inline;
    margin-left: 10%;
    margin-top: 25px;
    float: left;
    font-size: 30pt;
}

#header > #links {
    font-size: 20pt;
}

#header > #links > #doc {
    display: inline;
    margin-right: 20px;
    margin-top: 35px;
    float: right;
}

#header > #links > #source {
    display: inline;
    float: right;
    margin-right: 10%;
    margin-top: 35px;
}

#home {
    background: center no-repeat url("resources/images/home_bg.png");
    background-size: cover;
    width: 100%;
    color: white;
}

#terminal-border {
    padding: 175px 25% 175px 25%;
}

#terminal {
    border-width: 0;
    border-radius: 10px;
    background-color: black;
}

#terminal > #term-head {
    background-color: #C4C4C4;
    opacity: 0.5;
    height: 40px;
    border-width: 0;
    border-radius: 10px 10px 0 0;
}

#terminal > #term-content {
    padding: 10px;
    font-size: 30pt;
}

#term-content .focus {
    margin: 10px 50px 10px 50px;
    padding: 30px 30px 50px 30px;
    border: dashed white;
    border-radius: 10px;
}

#more_or_less .ml_background {
    float: left;
    width: 50%;
}

#more_or_less {
    background-repeat: no-repeat;

    background-image:
            linear-gradient(to right, #FAE5EF, #FAE5EF),
            linear-gradient(to top left, transparent 50%, #FAE5EF 50%);

    background-size: calc(50% - 50px) 100%, 100px 100%;

    background-position: 0 0, 50% 0;
}

#more_or_less:after {
    content: "";
    display: table;
    clear: both;
}

#more_or_less #less {
    padding: 20px 50px 20px 20px;
}

#more_or_less #more {
    padding: 20px 20px 20px 50px;
}

#more_or_less .ml_section {
    text-align: center;
}

#more_or_less .ml_section .ml_title {
    color: #6720B0;
    font-size: 50pt;
}

#more_or_less .ml_section .ml_item {
    margin-left: 25%;
    margin-right: 25%;
}

#more_or_less .ml_section .ml_item .ml_icon {
    font-size: 40pt;
    margin-top: 30px;
    margin-bottom: 30px;
}

#more_or_less .ml_section .ml_item .ml_subtitle {
    color: #E44084;
    font-size: 30pt;
}

#more_or_less .ml_section .ml_item .ml_content {
    font-family: 'Inter', sans-serif;
    font-size: 20pt;
}

#quickstart {
    margin: 0;
    padding: 50px 50px 0;
}

#quickstart > .title {
    color: #6720B0;
    font-size: 50pt;
    margin-bottom: 25px;
}

#quickstart .instruction {
    margin-bottom: 20px;
    font-size: 20pt;
    font-family: 'Inter', sans-serif;
}

#quickstart .instruction:after {
    content: "";
    display: table;
    clear: both;
}

#quickstart .instruction:last-of-type {
    margin-bottom: 0;
}

#quickstart .instruction .marker {
    float: left;
    width: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
}

#quickstart .instruction .description {
    float: left;
    width: 30%;
    padding-top: 40px;
    padding-bottom: 20px;
}

#quickstart .instruction .code-block {
    float: left;
    width: 60%;
    padding: 20px;
    background-color: #F0F0F0;
}

#quickstart .instruction .code {
    float: left;
    padding: 15px;
    background-color: #F0F0F0;
}

#quickstart .instruction .code:before {
    content: "$ ";
    color: #6720B0;
    margin-right: 15px;
}

#quickstart .instruction .copy-code {
    float: right;
    width: 100px;
    padding: 5px;
    margin-bottom: 30px;
    color: #4072F4;
    border: #4072F4 solid 1px;
    border-radius: 2px;
    background-color: white;
    text-align: center;
    font-size: 15pt;
    position: relative;
}

#quickstart .instruction .copy-code .copy-tooltip {
    position: absolute;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -130px;
    opacity: 0;
    transition: opacity 0.3s;
}


#quickstart .instruction .copy-code .copy-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#features {
    margin: 0;
    padding: 50px;
}

#features > .title {
    color: #6720B0;
    font-size: 50pt;
    margin-bottom: 35px;
}

#features > .feature {
    margin-bottom: 150px;
    text-align: center;
}

#features > .feature:last-of-type {
    margin-bottom: 0;
    text-align: center;
}

#features > .feature .feature-name {
    color: #E44084;
    margin-bottom: 40px;
    margin-top: 15px;
    font-size: 30pt;
}

#features > .feature .feature-desc {
    font-family: 'Inter', sans-serif;
    font-size: 20pt;
    margin-top: 40px;
    margin-bottom: 40px;
}

#features > .feature .feature-sep:before {
    color: #6720B0;
    content: "\0000B7";
    font-size: 30pt;
    font-weight: bold;
}


#footer {
    width: 100%;
    background-color: #3F0920;
    margin: 0;
    text-align: center;

    padding-top: 30px;
    padding-bottom: 30px;
}

#footer > #footer-text {
    color: white;
    font-size: 12pt;
    font-family: 'Inter', sans-serif;

}
